        <h1><%= item.get("title") %></h1>

        <% if item.get("description") != null && item.get("description") != "" %>
            <div class="innfelt">
                <div class="innhold"><%= item.get("description") %></div>
            </div>
        <% } %>
        <div class="tagger">
            #{if recipe.tags != null && recipe.tags.size() > 0}
                <span class="">Tagget med</span>
                #{list items:recipe?.tags, as:"tag"}
    <a href="@{Recipes.indexMobileTags(tag.nameHash)}"><span class="tagit-label">${tag.name}</span></a>&nbsp;
                #{/list}
            #{/if}
        </div>
        <div class="innfelt" style="font-size: 12px">
                    #{if models.RecipeInMenu.find("recipe = ?", recipe).fetch().size() > 0}
                        Brukt
                        i ${models.RecipeInMenu.find("menu.author = ? and recipe = ?", user, recipe).fetch().size()}
                        av
                        dine menyer, ${models.RecipeInMenu.find("recipe = ?", recipe).fetch().size()} totalt
                    #{/if}
            #{else }
                Foreløpig ikke brukt i noen menyer.
            #{/else}
                    </div>

        <a data-role="button" ${recipe.isFavorite(user)?"data-theme='b\'":""} href="#" id="favoritt" data-icon="star"
           data-iconpos="right">
            Favoritt
        </a>

<span class="mengdeSelector">
        <button data-mini="true" class="" style="text-align: left;" data-theme="a" >
            <div class="selector">
                <span class="minusknapp"></span>
                <span class="plussknapp"></span>
                    <span class="tekst"> <span style="float: none" class="mengde"
                            >${utils.Servings.getPreferredServings(user, menu, recipe)}</span> ${recipe?.servesUnit}</span>
            </div>
            <div class="title-wrapper"><span
                    class="title">Holder til
                    </span>
            </div>
        </button>
</span>

        <div class="recipeBilde" style="">
            <img id="bilde" src="${models.Image.get(recipe)}"/>
        </div>


        <h3>
            Ingredienser
        </h3>

        <div id="ingredient-tasks" data-role="fieldcontain">
            <fieldset data-role="controlgroup" data-type="vertical">
                #{list items:recipe.ingredients, as:'ingredient'}
                    #{set user:user /}
                    #{set ingredient:ingredient /}
                    #{set scaling:true /}
                    #{checkBoxItem /}
                #{/list}
            </fieldset>
        </div>

        <h3>
            Fremgangsmåte
        </h3>

        <div class="innfelt" style="">
            <div name="steps" id="steps" class="innhold"
                 style="font-size: 14px;">${recipe?.steps?.escape().nl2br()}</div>
        </div>
        <div class="ui-grid-a">
            <div class="ui-block-a">
                <a data-role="button" href="@{Recipes.formMobile(recipe.id)}" data-icon="check" data-iconpos="left">
                    Rediger
                </a>
            </div>
            <div class="ui-block-b">
                <a href="#popupPanel" data-icon="plus" data-iconpos="right" data-rel="popup" data-transition="slide" data-position-to="window" data-role="button">Bruk</a>

            </div>
        </div>
